doctype html(lang='en')

head
  block title
  link(rel="stylesheet", href="/stylesheets/reset.css")
  link(rel="stylesheet", href="/stylesheets/common.css")
  link(rel="stylesheet", href="/stylesheets/blog.css")
  link(href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900", rel="stylesheet", type="text/css")
  meta(name='google-site-verification' content='UZv595UiW3ctOejayEXeS7j0JlgEyK555jgAhublLRs')
  meta(name="viewport", content="width=device-width, initial-scale=1")
  link(href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='/css/open-iconic-bootstrap.min.css')
  link(rel='stylesheet' href='/css/animate.css')
  link(rel='stylesheet' href='/css/owl.carousel.min.css')
  link(rel='stylesheet' href='/css/owl.theme.default.min.css')
  link(rel='stylesheet' href='/css/magnific-popup.css')
  link(rel='stylesheet' href='/css/aos.css')
  link(rel='stylesheet' href='/css/ionicons.min.css')
  link(rel='stylesheet' href='/css/bootstrap-datepicker.css')
  link(rel='stylesheet' href='/css/jquery.timepicker.css')
  link(rel='stylesheet' href='/css/flaticon.css')
  link(rel='stylesheet' href='/css/icomoon.css')
  link(rel='stylesheet' href='/css/style.css')

  // Required for Previews and Experiments
  script(src="//code.jquery.com/jquery-1.11.3.min.js")
  script
    = ctx?"window.prismic = { endpoint: '" + ctx.endpoint + "' };":""
  script(src="//static.cdn.prismic.io/prismic.min.js")
  script(src='/js/jquery.min.js')
  script(src='/js/jquery-migrate-3.0.1.min.js')
  script(src='/js/popper.min.js')
  script(src='/js/bootstrap.min.js')
  script(src='/js/jquery.easing.1.3.js')
  script(src='/js/jquery.waypoints.min.js')
  script(src='/js/jquery.stellar.min.js')
  script(src='/js/owl.carousel.min.js')
  script(src='/js/jquery.magnific-popup.min.js')
  script(src='/js/aos.js')
  script(src='/js/jquery.animateNumber.min.js')
  script(src='/js/scrollax.min.js')
  script(src='/https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false')
  script(src='/js/google-map.js')
  script(src='/js/main.js')

body
  #colorlib-page
  nav.navbar.fixed-top.navbar-expand-lg.navbar-light.bg-light
    a.navbar-brand(href='http://www.swapcode.in/') swapcode.in
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item.active
          a.nav-link(href='/')
            | Home 
        li.nav-item
          a.nav-link(href='/aws') aws
        li.nav-item.dropdown
          a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
            | Data Structures and algorithms
          .dropdown-menu(aria-labelledby='navbarDropdown')
            a.dropdown-item(href='/array') Array
            a.dropdown-item(href='/backtracking') Backtracking
            a.dropdown-item(href='/dynamicprogramming') Dynamic Programming
  block body
  
