doctype html(lang='en')

head
  block title
  link(rel="stylesheet", href="/stylesheets/reset.css")
  link(rel="stylesheet", href="/stylesheets/common.css")
  link(rel="stylesheet", href="/stylesheets/blog.css")
  link(href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900", rel="stylesheet", type="text/css")
  meta(name='google-site-verification' content='UZv595UiW3ctOejayEXeS7j0JlgEyK555jgAhublLRs')
  meta(name="viewport", content="width=device-width, initial-scale=1")
  link(rel='stylesheet' href='/css/icomoon.css')
  link(rel='stylesheet' href='/css/style.css')
  script
    = ctx?"window.prismic = { endpoint: '" + ctx.endpoint + "' };":""
  script(src="//static.cdn.prismic.io/prismic.min.js")
  script(src='/js/jquery.min.js')
  script(src='/js/bootstrap.min.js')
  script(src='/js/main.js')

body
  #colorlib-page
  nav.navbar.fixed-top.navbar-expand-lg.navbar-light.bg-light
    a.navbar-brand(href='http://www.swapcode.in/') swapcode.in
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item.active
          a.nav-link(href='/')
            | Home 
        li.nav-item
          a.nav-link(href='/aws') aws
        li.nav-item.dropdown
          a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
            | Data Structures and algorithms
          .dropdown-menu(aria-labelledby='navbarDropdown')
            a.dropdown-item(href='/array') Array
            a.dropdown-item(href='/backtracking') Backtracking
            a.dropdown-item(href='/dynamicprogramming') Dynamic Programming
  block body
  
